
.theme-btn {
	display: inline-block;
	background: $primary-theme;
	color: $white;
	transition: all .3s ease;
	cursor: pointer;
	font-size: 17px;
	font-weight: 500;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 25px;
	padding: 0px 0px 0px 30px;
	i {
		height: 45px;
		width: 45px;
		line-height: 45px;
		text-align: center;
		background: $icon-bg-2;
		border-radius: 50px;
		display: inline-block;
		color: $primary-theme;
		font-size: 20px;
		font-weight: 500;
		margin-left: 20px;
		margin-right: 3px;
	}
	&:hover {
		background: $white;
		color: $primary-theme;
		border: 1px solid $primary-theme;
	}
}








// button for blog page 




